<mat-card>
  <form #postForm="ngForm" (submit)="onSavePost(postForm)">
    <mat-form-field>
      <input
        #title="ngModel"
        matInput
        minlength="3"
        name="title"
        [ngModel]="post?.title"
        placeholder="post title"
        required
        type="text">
      <mat-error *ngIf="title.invalid">Please enter a title</mat-error>

    </mat-form-field>
    <mat-form-field>
      <textarea
        #content="ngModel"
        matInput
        minlength="3"
        name="content"
        [ngModel]="post?.content"
        placeholder="post content"
        required
        rows="4">
      </textarea>
      <mat-error *ngIf="content.invalid">Please enter content</mat-error>
    </mat-form-field>
    <button
      color="accent"
      mat-raised-button
      type="submit">Save Post
    </button>
  </form>
</mat-card>
