<mat-card>
  <form [formGroup]="form" (submit)="onSavePost()">
    <mat-form-field>
      <input
        matInput
        formControlName="title"
        placeholder="post title"
        type="text">
      <mat-error *ngIf="form.get('title').invalid">Please enter a title</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button="button" (click)="filePicker.click()">Pick image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <mat-form-field>
      <textarea
        matInput
        formControlName="content"
        placeholder="post content"
        rows="4">
      </textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter content</mat-error>
    </mat-form-field>
    <button
      color="accent"
      mat-raised-button
      type="submit">Save Post
    </button>
  </form>
</mat-card>
